<template>
  <div>
    <v-container fluid>
      <c-title></c-title>
      <v-carousel height="100%" light hide-delimiters show-arrows-on-hover>
        <v-carousel-item v-for="item in 4" :key="item">
          <v-row>
            <v-col cols="12" sm="9" lg="9" md="9" xl="9">
              <v-row>
                <v-col cols="12" sm="4" lg="4" md="4" xl="4">
                  <c-card></c-card>
                </v-col>
                <v-col cols="12" sm="8" lg="8" md="8" xl="8">
                  <c-card></c-card>
                </v-col>
                <v-col cols="12" sm="8" lg="8" md="8" xl="8">
                  <c-card></c-card>
                </v-col>
                <v-col cols="12" sm="4" lg="4" md="4" xl="4">
                  <c-card></c-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" sm="3" lg="3" md="3" xl="3">
              <c-card height="50%" :radiusBottom="true"></c-card>
              <c-card height="50%" :radiusTop="true"></c-card>
            </v-col>
          </v-row>
        </v-carousel-item>
      </v-carousel>
    </v-container>
  </div>
</template>

<script>
import Title from "../components/title.vue";
import Card from "../components/card.vue";

export default {
  data() {
    return {
      height: window.innerHeight,
    };
  },
  components: {
    "c-title": Title,
    "c-card": Card,
  },
};
</script>
