<template>
  <v-app>
    <v-main>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<style lang="scss" scoped>
html {
  overflow-y: auto !important;
}
.v-application {
  background-image: url("~@/assets/backgrounds/background.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-color: #f1f4f9 !important;
}
</style>
